html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
}
.source {
        height: 50%;
        background-color: #929292;
}


.plane {
    padding: 30px;
    flex-grow: 1;
}

.horizontal-gutter {
    background-color: black;
    height: 1px;
    width: 100%;
}
.vertical-gutter {
    background-color: black;
    width: 1px;
    height: 100%;
}